[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
datasets = "*"
tensorflow = "*"
keras = "*"
pillow = "==9.4.0"
tokenizer = "*"
tf = "*"
matplotlib = "*"
fastapi = "*"
config = "*"
uvicorn="*"
[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
